{% extends 'cms/tablebase.html' %}

{% block body %}
    <h2>信息管理</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">最新提醒</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-info" role="alert">
                <!-- strong用于加粗文字 -->
                <strong>提示</strong> 玄幻书籍大批量的更新了
            </div>
            <div class="alert alert-danger" role="alert">
                <strong>提示</strong> 欢迎订阅，支持支付宝偶
            </div>
        </div>
    </div>
{% endblock %}