{% extends 'news/base.html' %}
{% block title %}
    主页
{% endblock %}
{% block content %}

    <div class="channel-header xuanhuan" data-l1="2"
         style="background-image: url('//qidian.qpic.cn/qidian_common/349573/7f689b6db8ad99e6093bae7db9a7d130/0')">
        <div class="box-center cf">
            <div class="search-wrap">
                <form id="formUrl" action="" method="get" target="_blank"><input
                        class="search-input" type="text" id="s-box" placeholder="搜索你想要的..." name="kw" autocomplete="off">
                    <input id="searchSubmit" class="submit-input" type="submit" data-eid="qd_F3">
                    <label class="search-btn" for="searchSubmit" id="search-btn" href="javascript:" data-eid="qd_F3"><em class="iconfont"></em>
                    </label>
                </form>
            </div>
        </div>
    </div>
    <div class="box-center">
        <div class="sub-type-wrap" style="background-color: #f7ecb5;width: 100%;">

        </div>
        <div class="focus-wrap mb40 cf">
            <div class="week-rec-wrap fl" data-l1="4"><h3 class="lang">本周强推</h3>
                <div class="rec-list">
                    <ul>
                        <li data-rid="1"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015462169" title="打造超玄幻">打造超玄幻</a></em><a
                                class="author" href="#" data-eid="qd_F12"
                                target="_blank">李鸿天</a></li>
                        <li data-rid="2"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="3"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">史上最牛宗门</a></em><a
                                class="author" href="#" data-eid="qd_F12" >陆秋</a></li>
                        <li data-rid="4"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">修炼我靠玩游戏</a></em><a
                                class="author" href="#" data-eid="qd_F12" >树火</a></li>
                        <li data-rid="5"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我在废土捡技能</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="6"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="7"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="8"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="9"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                        <li data-rid="10"><em><a class="name" href="#" data-eid="qd_F11"
                                                data-bid="1015404565"  title="我可能有点强">我可能有点强</a></em><a
                                class="author" href="#" data-eid="qd_F12" >江天寥廓</a></li>
                    </ul>
                </div>
            </div>
            <div class="channel-focus big-mode fl" id="channel-focus">
                <div class="big-list cf" data-l1="5">
                    <ul>
                        <li data-rid="1">
                            <div class="book-shadow"></div>
                            <div class="img-box"><a href="#" data-eid="qd_F13"
                                                    data-bid="1015333535" ><img
                                    src="//bookcover.yuewen.com/qdbimg/349573/1015333535/150" alt="我的前世是游戏boss"></a>
                            </div>
                            <h3><a href="#" data-eid="qd_F14" data-bid="1015333535" >我的前世是游戏boss</a></h3>
                            <p>可以化作一串数据</p></li>
                        <li data-rid="2">
                            <div class="book-shadow"></div>
                            <div class="img-box"><a href="#" data-eid="qd_F13"
                                                    data-bid="1015333535" ><img
                                    src="//bookcover.yuewen.com/qdbimg/349573/1015333535/150" alt="我的前世是游戏boss"></a>
                            </div>
                            <h3><a href="#" data-eid="qd_F14" data-bid="1015333535" >我的前世是游戏boss</a></h3>
                            <p>可以化作一串数据</p></li>
                        <li data-rid="3">
                            <div class="book-shadow"></div>
                            <div class="img-box"><a href="#" data-eid="qd_F13"
                                                    data-bid="1015333535" ><img
                                    src="//bookcover.yuewen.com/qdbimg/349573/1015333535/150" alt="我的前世是游戏boss"></a>
                            </div>
                            <h3><a href="#" data-eid="qd_F14" data-bid="1015333535" >我的前世是游戏boss</a></h3>
                            <p>可以化作一串数据</p></li>
                        <li data-rid="4">
                            <div class="book-shadow"></div>
                            <div class="img-box"><a href="#" data-eid="qd_F13"
                                                    data-bid="1015333535" ><img
                                    src="//bookcover.yuewen.com/qdbimg/349573/1015333535/150" alt="我的前世是游戏boss"></a>
                            </div>
                            <h3><a href="#" data-eid="qd_F14" data-bid="1015333535" >我的前世是游戏boss</a></h3>
                            <p>可以化作一串数据</p></li>
                        <li data-rid="5">
                            <div class="book-shadow"></div>
                            <div class="img-box"><a href="#" data-eid="qd_F13"
                                                    data-bid="1015333535" ><img
                                    src="//bookcover.yuewen.com/qdbimg/349573/1015333535/150" alt="我的前世是游戏boss"></a>
                            </div>
                            <h3><a href="#" data-eid="qd_F14" data-bid="1015333535" >我的前世是游戏boss</a></h3>
                            <p>可以化作一串数据</p></li>
                    </ul>
                </div>
                <div class="new-wrap cf" data-l1="6"><h3><span>新书精选</span><cite></cite></h3>
                    <ul>
                        <li data-rid="1"><a href="//book.qidian.com/info/1015324024" data-eid="qd_F15"
                                            data-bid="1015324024" target="_blank">别逼我超神</a><i>·</i><span>充钱就能变强</span>
                        </li>
                        <li data-rid="2"><a href="#" data-eid="qd_F15"
                                            data-bid="1015424454">机械龙纹师</a><i>·</i><span>可以强化装备的特殊纹路！</span></li>
                        <li data-rid="3"><a href="#" data-eid="qd_F15"
                                            data-bid="1015424454">机械龙纹师</a><i>·</i><span>可以强化装备的特殊纹路！</span></li>
                        <li data-rid="4"><a href="#" data-eid="qd_F15"
                                            data-bid="1015424454">机械龙纹师</a><i>·</i><span>可以强化装备的特殊纹路！</span></li>
                    </ul>
                </div>
            </div>
            <div class="notice-wrap fr">
                <div class="notice-box">
                    <div class="edit-rec" data-l1="7"><h3>编辑力荐</h3>
                        <p>末世不用怕，我有红警升级版</p>
                        <p class="blue"><a href="#" data-eid="qd_F16"
                                           data-bid="1015492363" >《末日红警指挥官》</a><i>·</i><a class="writer"
                                                                                                         href="#"
                                                                                                         data-eid="qd_F17" >黑土冒青烟</a>
                        </p></div>
                    <div class="dynamic-list" data-l1="8"><h3>频道动态</h3>
                        <ul>
                            <li data-rid="1"><a href="#" data-eid="qd_F18"
                                                target="_blank"><em>「</em>活动<em>」</em>每月玄幻王，等你来战</a></li>
                            <li data-rid="2"><a href="#" data-eid="qd_F19"
                                                target="_blank"><em>「</em>资讯<em>」</em>网络文学“十二天王”</a></li>
                            <li data-rid="3"><a href="#" data-eid="qd_F110"
                                                target="_blank"><em>「</em>公告<em>」</em>双倍月票嗨翻黄金周</a></li>
                            <li data-rid="4"><a href="#" data-eid="qd_F111"
                                                target="_blank"><em>「</em>公告<em>」</em>起点网站全面安全升级</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-bottom-banner" id="tr-banner" data-l1="8">
                    <div class="op-tag"></div>
                    <a href="#" target="_blank" data-eid="qd_F22" data-qd_dd_p1="1" style="display: block"><img
                            src="{% static 'images/aa.jpg' %}"></a>
                </div>
            </div>
        </div>
        <div class="new-book-wrap mb40 cf">
            <div class="type-new fl" data-l1="9">
                <div class="left-wrap"><h3 class="lang">最近更新</h3>
                    <div id="new-book-list">
                        <div class="type-new-list cf" data-l2="1">
                            <ul>
                                <li data-rid="1">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015448658" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015448658/90" alt="支配神话"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#" data-eid="qd_F24" data-bid="1015448658"target="_blank">支配神话</a></h4>
                                        <p>往返于地球与异界的神灵故事</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author" href="#" data-eid="qd_F25" target="_blank">轻若君子</a></div>
                                    </div>
                                </li>
                                <li data-rid="2">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015452242" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015452242/90" alt="我的妻子是女帝"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015452242"
                                                                  target="_blank">我的妻子是女帝</a></h4>
                                        <p>为什么我是入赘？</p>
                                        <div class="state-box cf"><span>点击量+</span><i>东方玄幻</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                                <li data-rid="3">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015524457" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015524457/90" alt="生活系强者"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015524457"
                                                                  target="_blank">生活系强者</a></h4>
                                        <p>生活系外挂已与宿主绑定</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="type-new-list cf" data-l2="1">
                            <ul>
                                <li data-rid="4">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015223593" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015223593/90" alt="今天开始做馆主"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015223593"
                                                                  target="_blank">今天开始做馆主</a></h4>
                                        <p>入门便送一星基础武学卧虎势！</p>
                                        <div class="state-box cf"><span>点击量+</span><i>高武世界</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                                <li data-rid="5">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015310671" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015310671/90" alt="枪符"></a></div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015310671"
                                                                  target="_blank">枪符</a></h4>
                                        <p>元气为弹，射穿苍穹！</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                                <li data-rid="6">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015540449" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015540449/90" alt="技能复制大师"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015540449"
                                                                  target="_blank">技能复制大师</a></h4>
                                        <p>脑中多了一个技能复制系统</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="type-new-list cf" data-l2="1">
                            <ul>
                                <li data-rid="7">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015443725" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015443725/90" alt="异界小镇能升级"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015443725"
                                                                  target="_blank">异界小镇能升级</a></h4>
                                        <p>玫瑰小镇的代理镇长</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                                <li data-rid="8">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015552871" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015552871/90" alt="建构我的天外天"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015552871"
                                                                  target="_blank">建构我的天外天</a></h4>
                                        <p>大道三千，羽化飞升。</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                                <li data-rid="9">
                                    <div class="book-img"><a href="#" data-eid="qd_F23"
                                                             data-bid="1015446108" target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015446108/90" alt="重生之替身使者"></a>
                                    </div>
                                    <div class="book-info"><h4><a href="#"
                                                                  data-eid="qd_F24" data-bid="1015446108"
                                                                  target="_blank">重生之替身使者</a></h4>
                                        <p>发现世界线发生了巨大的变动。</p>
                                        <div class="state-box cf"><span>点击量+</span><i>异世大陆</i><a class="author"
                                                                                                  href="#"
                                                                                                  data-eid="qd_F25"
                                                                                                  target="_blank">作者</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-rank fr">
                <div class="rank-list" data-l1="14"><h3 class="wrap-title lang">签约作者新书榜<a class="more"
                                                                                          href="#"
                                                                                          target="_blank">更多<em
                        class="iconfont"></em></a></h3>
                    <div class="book-list">
                        <ul>
                            <li class="unfold" data-rid="1">
                                <div class="book-wrap cf">
                                    <div class="book-info fl"><h3>NO.1</h3><h4><a
                                            href="#" data-eid="qd_F63"
                                            data-bid="1015492363" target="_blank">末日红警指挥官</a></h4>
                                        <p class="digital"><em>476514</em>潜力值</p>
                                        <p class="author"><a class="type"
                                                             href="#"
                                                             target="_blank">异世大陆</a><i>·</i><a class="writer"
                                                                                                href="#"
                                                                                                target="_blank">黑土冒青烟</a>
                                        </p></div>
                                    <div class="book-cover"><a class="link" href="#"
                                                               data-eid="qd_F63" data-bid="1015492363"
                                                               target="_blank"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015492363/90"
                                            alt="末日红警指挥官"></a><span></span></div>
                                </div>
                            </li>
                            <li data-rid="2">
                                <div class="num-box"><span class="num2">2</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015462169"
                                                         target="_blank">打造超玄幻</a><i class="total">90245</i></div>
                            </li>
                            <li data-rid="3">
                                <div class="num-box"><span class="num3">3</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015450333" target="_blank">我吞噬亿万个自己</a><i
                                        class="total">31591</i></div>
                            </li>
                            <li data-rid="4">
                                <div class="num-box"><span class="num4">4</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015553063"
                                                         target="_blank">书名</a><i class="total">26282</i></div>
                            </li>
                            <li data-rid="5">
                                <div class="num-box"><span class="num5">5</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015483557"
                                                         target="_blank">书名</a><i class="total">26054</i></div>
                            </li>
                            <li data-rid="6">
                                <div class="num-box"><span class="num6">6</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015460952"
                                                         target="_blank">书名书名</a><i class="total">19549</i></div>
                            </li>
                            <li data-rid="7">
                                <div class="num-box"><span class="num7">7</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015500387"
                                                         target="_blank">书名</a><i class="total">11202</i></div>
                            </li>
                            <li data-rid="8">
                                <div class="num-box"><span class="num8">8</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015435066"
                                                         target="_blank">书名</a><i class="total">7403</i></div>
                            </li>
                            <li data-rid="9">
                                <div class="num-box"><span class="num9">9</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015448658"
                                                         target="_blank">书名</a><i class="total">7123</i></div>
                            </li>
                            <li data-rid="10">
                                <div class="num-box"><span class="num10">10</span></div>
                                <div class="name-box"><a class="name" href="#"
                                                         data-eid="qd_F63" data-bid="1015545370"
                                                         target="_blank">书名</a><i class="total">6519</i></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="box-center cf">
            <div class="footer-text"><p>上海网警提示：网络刷单是违法 切莫轻信有返利，网上交友套路多 卖惨要钱需当心，电子红包莫轻点 个人信息勿填写，仿冒客服来行骗 官方核实最重要，招工诈骗有套路
                预交费用需谨慎，低价充值莫轻信 莫因游戏陷套路，连接WIFI要规范 确认安全再连接，抢购车票有章法 确认订单再付款，白条赊购慎使用 提升额度莫轻信，网购预付有风险 正规渠道很重要
                如网民接到962110电话，请立即接听。</p></div>
            <div class="copy-right"><p><span>Copyright © 2002-2019 www.qidian.com All Rights Reserved</span>版权所有
                上海玄霆娱乐信息科技有限公司</p>
                <p>网站备案/许可证号：<a href="http://beian.miit.gov.cn/publish/query/indexFirst.action" target="_blank">沪B2-20080046-1</a>&nbsp;出版经营许可证：新出发沪批字第
                    U3718 号&nbsp;网络文化经营许可证：沪网文[2015]0081-031 新出网证（沪）字 010</p>
                <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！举报电话：010-59357051</p>
                <p>本站所收录的作品、社区话题、用户评论、用户上传内容或图片等均属用户个人行为。如前述内容侵害您的权益，欢迎举报投诉，一经核实，立即删除，本站不承担任何责任</p>
                <p>联系方式 总机 021-61870500 地址：中国（上海）自由贸易试验区碧波路690号6号楼101、201室</p></div>
        </div>
    </div>

{% endblock %}