{% extends 'news/base.html' %}
{% block title %}
    排行榜
{% endblock %}
{% block content %}
    <div class="rank-wrap box-center mb20" data-l1="11">
        <div id="numero3">
            <div id="rank-list-row" class="rank-list-row cf mb20">
                <div class="rank-list" data-l2="1"><h3 class="wrap-title lang">原创风云榜<i>·</i>新书</h3>
                    <div class="book-list">
                        <ul>
                            {% for book in fengyunbang %}
                                {% if forloop.first %}
                                    <li class="unfold" data-rid="1">
                                        <div class="book-wrap cf">
                                            <div class="book-info fl"><h3>NO.1</h3><h4><a
                                                    href="{% url 'cms:book_detail'  book_id=book.9 %}" target="_blank"
                                                    data-eid="qd_A117"
                                                    data-bid="1013562540">{{ book.0 }}</a></h4>
                                                <p class="digital"><em>{{ book.5 }}</em>月票</p>
                                                <p class="author"><a class="type" href="{% url 'news:category' %}?name={{ book.2 }}">{{ book.2 }}</a><i>·</i><a
                                                        class="writer"
                                                        href="{% url 'cms:author_detail'%}?=author_id={{ book.1.id }}"
                                                        target="_blank">{{ book.1.pen_name }}</a></p></div>
                                            <div class="book-cover"><a class="link"
                                                                       href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                                       data-eid="qd_A117" target="_blank"
                                                                       data-bid="1013562540"><img
                                                    src="//bookcover.yuewen.com/qdbimg/349573/1013562540/90"
                                                    alt="第一序列"></a><span></span></div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li data-rid="{{ forloop.counter }}">
                                        <div class="num-box"><span
                                                class="num{{ forloop.counter }}">{{ forloop.counter }}</span></div>
                                        <div class="name-box"><a class="name" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                                 target="_blank" data-eid="qd_A117"
                                                                 data-bid="1012912018">{{ book.0 }}</a><i
                                                class="total">{{ book.5 }}</i></div>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="rank-list sort-list" data-l2="2"><h3 class="wrap-title lang">24小时热销榜</h3>
                    <div class="book-list">
                        <ul>
                            {% for book in rexiaobang %}
                                {% if forloop.first%}
                                    <li class="unfold" data-rid="{{ forloop.counter }}">
                                <div class="book-wrap cf">
                                    <div class="book-info fl"><h3>NO.1</h3><h4><a
                                            href="{% url 'cms:book_detail'  book_id=book.9 %}" target="_blank" data-eid="qd_A117"
                                            data-bid="1012237441">{{ book.0 }}</a></h4>
                                        <p class="digital f16">销量冠军</p>
                                        <p class="author"><a class="type" href="{% url 'news:category' %}?name={{ book.2 }}" target="_blank">{{ book.2 }}</a><i>·</i><a
                                                class="writer" href="{% url 'cms:author_detail'%}?=author_id={{ book.1.id }}"
                                                target="_blank">{{ book.1.pen_name }}</a></p></div>
                                    <div class="book-cover"><a class="link" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                               data-eid="qd_A117" target="_blank" data-bid="1012237441"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1012237441/90"
                                            alt="全球高武"></a><span></span></div>
                                </div>
                            </li>
                                    {% else %}
                                    <li data-rid="{{ forloop.counter }}">
                                <div class="num-box"><span class="num{{ forloop.counter }}">{{ forloop.counter }}</span></div>
                                <div class="name-box"><a class="name" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                         target="_blank" data-eid="qd_A117"
                                                         data-bid="1010868264">{{ book.0 }}</a>
                                    <span class="iconfont">{{ book.4 }}销量</span>
                                </div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="rank-list sort-list" data-l2="3"><h3 class="wrap-title lang">新增粉丝榜</h3>
                    <div class="book-list">
                        <ul>
                            {% for book in fensibang %}
                                {% if forloop.first %}
                                    <li class="unfold" data-rid="{{ forloop.counter }}">
                                <div class="book-wrap cf">
                                    <div class="book-info fl"><h3>NO.1</h3><h4><a
                                            href="{% url 'cms:book_detail'  book_id=book.9 %}" target="_blank" data-eid="qd_A117"
                                            data-bid="1013562540">{{ book.0 }}</a></h4>
                                        <p class="digital">增长最快</p>
                                        <p class="author"><a class="type" href="{% url 'news:category' %}?name={{ book.2 }}" target="_blank">{{ book.2 }}</a><i>·</i><a
                                                class="writer" href="{% url 'cms:author_detail'%}?=author_id={{ book.1.id }}"
                                                target="_blank">{{ book.1.pen_name }}</a></p></div>
                                    <div class="book-cover"><a class="link" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                               data-eid="qd_A117" target="_blank" data-bid="1013562540"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1013562540/90"
                                            alt="第一序列"></a><span></span></div>
                                </div>
                            </li>
                                    {% else %}
                                    <li data-rid="{{ forloop.counter }}">
                                <div class="num-box"><span class="num{{ forloop.counter }}">{{ forloop.counter }}</span></div>
                                <div class="name-box"><a class="name" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                         target="_blank" data-eid="qd_A117" data-bid="1014190598">{{ book.0 }}</a><span
                                        class="iconfont"></span></div>
                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="rank-list" data-l2="4"><h3 class="wrap-title lang">周推荐票榜</h3>
                    <div class="book-list">
                        <ul>
                            {% for book in tuijianbang %}

                                {% if forloop.first %}
                                    <li class="unfold" data-rid="{{ forloop.counter }}">
                                <div class="book-wrap cf">
                                    <div class="book-info fl"><h3>NO.1</h3><h4><a
                                            href="{% url 'cms:book_detail'  book_id=book.9 %}" target="_blank" data-eid="qd_A117"
                                            data-bid="1012912018">{{ book.0 }}</a></h4>
                                        <p class="digital"><em>{{ book.6 }}</em>推荐票</p>
                                        <p class="author"><a class="type" href="{% url 'news:category' %}?name={{ book.2 }}" target="_blank">{{ book.2 }}</a><i>·</i><a
                                                class="writer" href="{% url 'cms:author_detail'%}?=author_id={{ book.1.id }}"
                                                target="_blank">{{ book.1.pen_name }}</a></p></div>
                                    <div class="book-cover"><a class="link" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                               target="_blank" data-eid="qd_A117" data-bid="1012912018"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1012912018/90"
                                            alt="英雄联盟：我的时代"></a><span></span></div>
                                </div>
                            </li>
                                    {% else %}
                                    <li data-rid="{{ forloop.counter }}">
                                <div class="num-box"><span class="num{{ forloop.counter }}">{{ forloop.counter }}</span></div>
                                <div class="name-box"><a class="name" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                         target="_blank" data-eid="qd_A117" data-bid="1009397018">{{ book.0 }}</a><i
                                        class="total">{{ book.6 }}</i></div>
                            </li>
                                {% endif %}

                            {% endfor %}


                        </ul>
                    </div>
                </div>
                <div class="rank-list mr0" data-l2="5"><h3 class="wrap-title lang">签约作家新书榜</h3>
                    <div class="book-list">
                        <ul>
                            {% for book in xinshubang %}
                                {% if forloop.first %}
                                                                <li class="unfold" data-rid="1">
                                <div class="book-wrap cf">
                                    <div class="book-info fl"><h3>NO.1</h3><h4><a
                                            href="{% url 'cms:book_detail'  book_id=book.9 %}" target="_blank" data-eid="qd_A117"
                                            data-bid="1015461981">{{ book.0 }}</a></h4>
                                        <p class="digital"><em>{{ book.7}}</em></p>
                                        <p class="author"><a class="type" href="{% url 'news:category' %}?name={{ book.2 }}"
                                                             target="_blank">{{ book.2 }}</a><i>·</i><a class="writer"
                                                                                              href="{% url 'cms:author_detail'%}?=author_id={{ book.1.id }}"
                                                                                              target="_blank">{{ book.1.pen_name }}</a>
                                        </p></div>
                                    <div class="book-cover"><a class="link" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                               target="_blank" data-eid="qd_A117" data-bid="1015461981"><img
                                            src="//bookcover.yuewen.com/qdbimg/349573/1015461981/90"
                                            alt="不合格的大魔王"></a><span></span></div>
                                </div>
                            </li>
                                    {% else %}
                                    <li data-rid="{{ forloop.counter }}">
                                <div class="num-box"><span class="num{{ forloop.counter }}">{{ forloop.counter }}</span></div>
                                <div class="name-box"><a class="name" href="{% url 'cms:book_detail'  book_id=book.9 %}"
                                                         target="_blank" data-eid="qd_A117" data-bid="1015492363">{{ book.0 }}</a><i
                                        class="total">{{ book.8 }}</i></div>
                            </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}